.cache
.coverage
.dockerignore
.egg
# .git
.gitignore
.tox

**/build
**/dist
**/htmlcov
**/secrets
**/__pycache__
**/*.egg-info
**/*.egg
**/*.db
**/*.pyc
**/*.pyo
**/*.swp

# nomad / docker-compose

**/alloc

**/local
!local/.pylintrc
!local/unit.test.cfg
!local/system.test.cfg

**/model

**/secrets
