.cache
.coverage
.dockerignore
.egg
.git
.gitignore
.tox

**/alloc
**/build
**/dist
**/htmlcov
**/local
**/nomad
**/secrets
**/__pycache__
**/*.egg-info
**/*.egg
**/*.db
**/*.pyc
**/*.pyo
**/*.swp

!local/.pylintrc
!local/microservice.test.cfg
!local/microservice.system.test.cfg
